[2015-01-15 07:57] jchristo4 opened #6 "Change format:manifest path from {druid}.manifest to {druid}//iiif/manifest.json"

[2015-01-23 00:02] #6 closed

[2015-07-23 17:00] cbeer opened #22 "PURL metadata files"
Right now, PURL only exposes a handful of the metadata files in the document cache (public xml, mods, and the IIIF manifest). In spot-checking some records, I noticed a handful of other files (contentMetadata, properties, etc) that seem to also be embedded in the public xml.

What is the relation between the metadata in the public XML and the stand-alone files?

Can we expose the stand-alone files

[2015-07-23 17:03] cbeer opened #23 "Non-javascript fallback for content"
If we use the sul-embed widget for displaying content, I think we want provide a non-javascript fallback (although, I note that the current site doesn't work with javascript disabled). Is a simple file listing sufficient, or should we make other considerations?

Another option I can think of is providing a link to the content-embedded-without-javascript and let sul-embed worry about non-javascript

[2015-07-23 17:05] mejackreed commented on #23
-1 for having sul-embed worry about non JavaScript

Sent from my iPhone

[2015-07-23 17:16] cbeer commented on #23
@mejackreed I don't disagree, although my thought was: if sul-embed is already parsing the contentMetadata and displaying a file list, I'd rather not copy that same logic into PURL.

[2015-07-23 17:21] jkeck commented on #23
Apps could possibly link to PURL in a <noscript> or something (although I don't know if that really solves anything).

Not having SUL-Embed worry about non-js means that only apps that have intimate knowledge about the contentMetadata can have any sort of useful fallback behavior.  The only app that is likely to have knowledge about the contentMetadata of every object is PURL itself.  Perhaps that

[2015-07-23 17:37] blalbrit commented on #22
@cbeer the public XML contains an aggregation of data pulled from the other streams on PURL document_cache - but pruned to only expose the information that should be made publicly available.
 The contentMetadata contains all data about an object (both publicly available resources, and non-published non-public content). I would say no to exposing stand-alone files now - at least contentMD, but will

[2015-07-23 17:42] cbeer commented on #22
Great, that would be really helpful. I'm (clearly) having trouble understanding how the various systems are interacting.

[2015-07-23 17:51] mejackreed commented on #23
I can understand that @cbeer ... It could potentially work if PURL made and displayed the request server side

[2015-07-23 21:34] snydman opened #25 "Test PURLs for a variety content types and reading rules"
See: https://docs.google.com/spreadsheets/d/1T4MY5jIUqd4XAnPgwiuKItOTBcTT8oVGHIulRE_ldP8/edit#gid=0

@jkeck @cbeer @mejackreed @aalsum @aeschylus

[2015-07-23 21:38] snydman commented on #25
@mejackreed please add GIS examples to this spreadsheet?

@aalsum please add Web Archive seed record examples?

[2015-07-23 22:02] cbeer commented on #25
:+1:

[2015-07-23 23:12] aalsum commented on #25
@snydman Can you give us write access?

[2015-07-24 15:42] aalsum commented on #25
@snydman Webarchive-seed is added to the sheet.

[2015-07-24 16:18] cbeer opened #26 "Write copy for the purl index page"
We'll need some real copy for the updated PURL index page:

<img width="599" alt="screen shot 2015-07-24 at 9 16 14 am" src="https://cloud.githubusercontent.com/assets/111218/8879177/a8906500-31e4-11e5-8754-55f0c6c87836.png">

I've cobbled together some content from some of the SDR services pages, but we can probably do better.

[2015-07-24 16:20] mejackreed opened #27 "Reducing styling complexity and duplication"
Happy to help out with this to move to consolidation. Starting a list here:
- [ ] If we do rely on sul-embed for file display logic, we can probably remove this type of stuff https://github.com/sul-dlss/purl/blob/cb6632a83ea7048a31269b827990aeebeadfe2f6/app/helpers/application_helper.rb#L106-L201
- [ ] move creative commons and other license images, classes to sul-styles (this is replicated stylin

[2015-07-24 16:37] cbeer commented on #27
I'm working on this in the `sw-design` branch, where the `application_helper` stuff is already ripped out. Right now, I've just dropped the searchworks css and layout into the application, but :+1: on consolidating on sul-styles.

[2015-07-24 17:01] mejackreed commented on #27
:+1: great... also I can update sul-styles to add all of the icons that you added in `sw-design`. That might help clean up that branch some.

[2015-07-24 17:47] snydman commented on #26
@hannahfrost can you help with this?

[2015-07-24 18:56] hannahfrost commented on #26
@snydman yes. Deadline?

[2015-07-24 18:57] cbeer commented on #26
@hannahfrost no hurry (it's not like purl currently has an index page...)

[2015-08-05 20:54] mejackreed opened #28 "Remove sidebar navigation menu"
per @jvine

[2015-08-05 20:55] cbeer commented on #28
:+1: :+1: :+1:

[2015-08-06 17:56] #28 closed

[2015-08-18 00:46] jvine opened #32 "Set maximum text width for accessibility/readability"
Without a sidebar, text blocks can fill the whole width of the page - 200 characters or more - not optimal for accessibility/readability. Target should be 50 - 100 chars per line.

`<dd>` is currently set to max-width: 45em, which is about 100 chars - same should be applied to `<p>` and `<li>`

(Mostly affects abstracts - any content that's not in a dl.)

[2015-08-18 01:20] cbeer commented on #32
What about setting the `div.record-sections` to be `.col-md-8` (matching the searchworks column width)?

[2015-08-18 17:08] jvine commented on #32
You could do that AND the 45em... :-)  It shouldn't be purl-specific. It's on my list for SW 3.1 and there's a partial ticket already (640). 8 cols is about 120 characters at the widest, so it's much better but still technically out of range.

[2015-08-18 17:41] cbeer commented on #32
:+1:

[2015-08-18 17:41] #32 closed

[2015-08-28 18:32] jvine opened #33 "Replace icon for Description"
Currently using sul-i-books-library, which has a specific purpose in SW, and I'd prefer not to use it differently so nearby. Propose using sul-i-list-bullets-1 instead.

[2015-09-27 14:56] #22 closed

[2015-10-13 18:46] LynnMcRae opened #34 "MODS display issue in test with LCSH terms w/ "--" delimiters"
Submitted by Nicholas as https://jirasul.stanford.edu/jira/browse/PURL-122

In this test record: https://purl-test.stanford.edu/gb667dy0829 , subject terms are entered in the MODS like so:

<subject authority="lcsh">
  <topic>Economic assistance, Domestic--United States--Statistics</topic>
</subject>

In purl-test, each term in the string is presented on a separate line, i.e.,

    Economic assist

[2015-10-13 18:51] cbeer commented on #34
I believe we inherited this display from SearchWorks, and should resolve this ticket there.

[2015-10-13 18:58] LynnMcRae commented on #34
I'll look for a case where SW is displaying MODS instead of MARC to verify it has the same issue.

[2015-10-13 19:41] LynnMcRae commented on #34
The problem seems to be the construction of multi-part subjects in general and is not confined to the pre-assembled topics with "--".  This example shows a fully structured multi-part subject:

   http://purl.stanford.edu/bs646cd8717.mods
  <subject authority="lcsh">
    <geographic>Europe</geographic>
    <topic>Civilization</topic>
    <temporal>18th century</temporal>
  </subject>

The parts ar

[2015-10-13 21:17] cbeer commented on #34
Thanks for the sleuthing. I think I've fixed this in fc9e9bdcd8645594fd096faa0a609b44c5823904, and am deploying to the various environments.

[2015-10-17 22:38] #25 closed

[2015-10-20 18:38] #34 closed

[2015-10-20 18:40] cbeer commented on #33
Fixed in 0564d2e

[2015-10-20 18:40] #33 closed

[2015-11-04 00:07] blalbrit opened #44 "Selected URI Pattern for IIIF Canvases"
pattern should be: {druid}/iiif/canvas-{n} , where {n} starts with 1. per conversation with @azaroth42 and @LynnMcRae

Should dereference the json fragment of the canvas as it appears within the manifest.json

[2015-11-04 00:08] blalbrit opened #45 "Selected URI Pattern for IIIF Annotations"
pattern should be: {druid}/iiif/canvas-n/annotations per conversation with @azaroth42 and @LynnMcRae

This is a back-burner for now.

[2015-11-04 00:09] azaroth42 commented on #44
To be clear:  {druid}/iiif/canvas-{n}  :)

[2015-11-04 16:51] cbeer commented on #44
We intentionally decided not to embed any resource information in these urls? It seems like it would be  easier to (correctly) dereference the url if it was keyed on metadata instead of count-dependent (and be less vulnerable to adding or removing resources).

[2015-11-04 17:07] azaroth42 commented on #44
I don't think there was any strong intention here, other than lacking a guaranteed unique piece of metadata to generate the URI from for every canvas for every object. For example, an image might contain a depiction of multiple objects and hence multiple canvases, so using the image filename wouldn't work. There also might be no image for a canvas. Proposals would be welcome of course :)

[2015-11-04 17:09] azaroth42 commented on #44
And to clarify (I hope) the dereferencing requirement, when the Canvas's URI is dereferenced, the response should be JSON-LD and contain a description of the Canvas as it appears within the manifest.  It must also have the @context copied to the top of the json structure, resulting in something like the example here:  http://iiif.io/api/presentation/2.0/#canvas

[2015-11-04 18:30] #44 closed

[2015-11-04 18:49] azaroth42 commented on #45
To clarify...

The URI pattern for Annotation __Lists_ (see http://iiif.io/api/presentation/2.0/#other-content-resources) could be `{druid}/iiif/canvas-{n}/annotations`.  The annotations in that list should be those that have `canvas-{n}` or part of it as their target.  However this limits implementation possibilities as canvas-{n} cannot be both a directory and a file (the JSON) at the same time.

[2015-12-02 22:20] drh-stanford opened #49 "add support for externalFile references for IIIF manifest generation"
This is for the virtual objects (atlases). See the old PR here: sul-dlss/dor-services#89

The specification is here: https://consul.stanford.edu/display/chimera/Support+for+virtual+resources

Here is the prototype object in production: https://argo.stanford.edu/catalog/druid:hj097bm8879

Took a cursory look at this issue and have the following list of tasks:
- [x] establish development environment

[2015-12-02 22:36] drh-stanford commented on #49
Took a cursory look at this issue and have the following list of tasks:

- [ ] establish development environment on laptop
- [ ] change `ContentMetadata.extract_resources` to handle child objects from `externalFile` element data
- [ ] add fixture data for virtual parent object and children
- [ ] add unit tests in `iiif_manifest_spec.rb` for virtual objects without file resources, and with mix of f

[2015-12-03 21:32] drh-stanford opened #50 "Update README with installation/testing instructions"

[2016-02-12 19:58] rosy1280 opened #57 "update 404 error message"
Currently the PURL error message reads "_The item you requested is not yet available. It will be available at this URL when Library processing is completed._"﻿﻿  This is a holdover from when we asked folks depositing their ETD to keep refreshing their PURL pages to see when their ETD had been deposited; the language has not been updated since.

The language should read "_This item is in processing

[2016-03-16 02:47] LynnMcRae opened #60 "IIIF Manifest shows raw encoded data from PURL XML"
I noticed ampersand encoding exposed on the embed screen:
![screen shot 2016-03-15 at 6 54 09 pm](https://cloud.githubusercontent.com/assets/1824732/13800401/26db4d48-eae6-11e5-8c95-a69b91b387ab.png)

I believe it's because the manifest shows internal XML encoding:
![screen shot 2016-03-15 at 6 55 49 pm](https://cloud.githubusercontent.com/assets/1824732/13800402/2ae6acac-eae6-11e5-92a4-c50c04d7cf

[2016-04-25 20:47] LynnMcRae opened #61 "Drop "Available download formats" from display since it is now in Embed"
See https://purl.stanford.edu/bb846gv7194. The "Available download file" appears to be redundant, and perhaps an artifact from pre-embed days where PURL was parsing and formatting content metadata.
![screen shot 2016-04-25 at 1 45 40 pm](https://cloud.githubusercontent.com/assets/1824732/14798376/316d5afa-0aec-11e6-95ae-3d3528b4f77c.png)

[2016-04-26 00:24] cbeer commented on #61
I wonder if it's still useful for web crawlers and/or other non-javascript users.

[2016-05-03 23:15] LynnMcRae opened #62 "Clean up PURL document space"
Something last summer seems to recreated a large portion of the Purl document cache at the root level. These items seem to be older duplicates of what is in the document_cache directory.  Determine that both publish and PURL logic refer only to the contents of document_cache, and clean up the bogus druid trees.
![screen shot 2016-05-03 at 4 12 24 pm](https://cloud.githubusercontent.com/assets/1824

[2016-07-21 16:50] eefahy opened #63 "Add ldap check to is_it_working"
see https://github.com/sul-dlss/sul-directory/blob/master/config/initializers/is_it_working.rb#L10-L16 - This is an issue for stanford only purls

[2016-07-21 16:56] mejackreed commented on #63
The problem isn't the purl is it? The problem is the download fails? Should that be on digital stacks rails instead then?

Introduces the problem of app vs service and what is what?

[2016-07-21 17:00] eefahy commented on #63
I'm actually not sure at which point the LDAP look up is happening. Is that on stacks? I can move this issue there.

[2016-07-21 17:05] eefahy commented on #63
yep, you're right. Stacks is the one doing the lookups. Will make a ticket there. Thanks for the info @mejackreed

[2016-07-21 17:05] mejackreed commented on #63
Yeah stacks. But it affects:

 - purl
 - embed
 - earthworks
 - anything that embeded embed

[2016-07-21 17:08] #63 closed

[2016-08-16 01:25] ndushay opened #71 "use shared_configs"
and then note in DevOpsDocs and Puppet Facts

[2016-08-16 01:28] ndushay opened #72 "use HoneyBadger instead of squash"
https://app.honeybadger.io/projects

there's a rails plugin.  Exhibits has an example:  sul-dlss/exhibits#291

REMEMBER TO UPDATE DevOpsDocs when complete.

[2016-08-16 20:37] ndushay opened #73 "purl: is_it_working tweaks"
currently it is likely to cause problems in production due to my uninformed PR #624

- want it to have status 200 for load balancer or fail for hard dependencies only
- want "soft" dependencies (like was-thumbnail-service) shown in nagios.

Then update nagios checks, too.

Something like:

[code]

[2016-08-18 01:20] ndushay opened #76 "purl: do nagios checks need tweaking?"
do any individual checks need separate nagios handling?

e.g. should stacks check failure cause user advocate or anyone else to be notified?

 (stacks, embed, feedback email, flipbook, other?)

[2016-08-18 21:17] ndushay commented on #76
- all but -dev in old nagios
  - is_it_working checks in old for prod-a, prod-b
- all boxes (also) in new nagios
  - [ ] need improved is_it_working checks in new nagios (prod boxes, ?test box?)

[2016-08-18 21:19] ndushay opened #77 "purl: user advocate, mailing list, etc."
From the DevOps checklist, some unknowns not ticketed elsewhere:
- [ ] user advocate  (for puppet, for non-crucial nagios alerts)
- [ ] mailing list (for nagios alerts, etc.)
- [ ] google analytics -- do we want these?

Systems section:
- [ ] upgrades allowed (Ruby, passenger, yum ...)
- [ ] VMs reachable by outside network?
- [ ] new puppet only
  etc.

See also
- #76 (is_it_working monitoring fo

[2016-08-19 00:11] #73 closed

[2016-08-27 00:01] jkeck opened #78 "Feedback link causes page refresh"
Clicking on the feedback link on any page does toggle the feedback form open, however; it also causes the page to reload and the user does not have time to fill out the feedback form.

[2016-08-27 00:07] cbeer commented on #78
Some sort of turbolinks 5-related bug? It looks like we are rewriting the link to try to avoid that: https://github.com/sul-dlss/purl/blob/master/app/assets/javascripts/feedback_form.js#L110

(I'm not sure why it does that instead of registering an event handler and preventing the default action? I think I copied it from somewhere else, maybe spotlight or searchworks?)

[2016-08-27 00:28] jkeck commented on #78
Yeah, not exactly sure.  I would expect to see `preventDefault()` but that is only on the cancel button.

FWIW, it looks like if the `href` of the feedback link is `javascript:;` instead of `#` things seem to work out okay.

More than happy to submit a PR, was just in the middle of something else when I noticed that.

[2016-08-27 00:38] jkeck commented on #78
Of course JSHint says not to do that.  I think the [context](https://stackoverflow.com/questions/2264968/why-is-javascriptvoid0-considered-harmful) that it is considered problematic is irrelevant since we're handling the progressive enhancement case properly (and only changing the `href` when javascript is enabled).

Either way, the change to just use `preventDefault()` seems to be just as minimal

[2016-08-28 20:45] #78 closed

[2016-09-06 21:10] jkeck opened #81 "Change message displayed for dark objects"
The current message that you receive when going to a PURL for a dark object can use some improvement.

[2016-09-06 21:11] cbeer commented on #81
Does PURL know when an object is dark?

[2016-09-09 21:53] aeschylus opened #82 "Searchworks backlinks do not work on some objects."
Not sure what the common thread is, but it may have to do with special collections vs. non-special collections objects.

https://purl.stanford.edu/db896gy7518

To reproduce, click the "view in searchworks" link at the bottom of the page. You'll see the default rails 404 page.

[2016-09-09 21:55] aeschylus opened #83 "Some IIIF Manifests do not Validate"
Not sure if this is the right place for this, but looking at: https://purl.stanford.edu/db896gy7518/iiif/manifest.json

Running it through the [validator](http://iiif.io/api/presentation/validator/service/validate?url=https%3A%2F%2Fpurl.stanford.edu%2Fdb896gy7518%2Fiiif%2Fmanifest.json&version=2.0&format=html), there are some errors, and it seems to only intermittently load in Mirador, though this

[2016-09-09 22:16] jkeck commented on #82
The catkey that it is linking to is `11528236` from `identityMetadata/otherId[name="catkey"]`.

This catkey does not exist in SearchWorks.  This may either be an issue where we've referenced a catkey that is shadowed or the wrong catkey all together (or possibly another reason?).

[2016-09-09 22:19] snydman opened #84 "Generate IIIF collection URI's for image collections"
We should generate collection level IIIF URI's for our defined image collections, following the spec:

http://iiif.io/api/presentation/2.1/#collection

A top level collection manifest of collections would be good too.

[2016-09-09 22:30] aeschylus commented on #84
Here is an example from Jeff Witt's project: http://scta.info/iiif/collection/scta

Some other quasi-collections: http://iiif.archivelab.org/iiif/collection.json

[2016-09-09 22:30] aeschylus commented on #84
Context: https://groups.google.com/forum/#!topic/iiif-discuss/r1ANaZG-BQo

[2016-09-09 22:36] aeschylus commented on #83
There were some other institutions with manifests that caused the same error. I was coding around it in the client, but then I asked in the specs repo:

https://github.com/IIIF/iiif.io/issues/913
https://github.com/IIIF/iiif.io/issues/914

So it seems the solution is just to change dcterms to dctypes.

[2016-09-13 00:26] ndushay commented on #72
@eefahy:   ugh - we need to upgrade honeybadger account:  "It looks like you have reached the limit on the number of collaborators available at the current subscription level. You'll need to upgrade your account to be able to add collaborators."

[2016-09-13 00:33] ndushay commented on #72
See branch 116-honeybadger  containing single new commit:  e06ef2da5

[2016-09-13 19:23] ndushay opened #87 "okcomputer to replace is_it_working"
Exemplar:  purl-fetcher

possibly:
- `/status` endpoint for load-balancer needs and nagios errors
- `/status/[some-dependency]` for nagios warnings;  nagios routes them to approp parties
- `/status/all-dependencies` for full dependency documentation (?)

after this
- [x] purl PR merged to master
- [x] deploy
- [x] update Load Balancer (SAR-3250)
- [ ] update nagios
  - [x] basic checks (~~sul-dlss

[2016-09-13 23:10] #72 closed

[2016-09-13 23:25] ndushay opened #88 "update deploy scripts"
- [ ] prompt for branch name
- [ ] use 'dev' and 'prod' not 'development' and 'production' as there is no database

[2016-09-13 23:35] #88 closed

[2016-09-20 23:22] ndushay commented on #76
See  (sul-dlss/puppet#1001, sul-dlss/puppet#1002, sul-dlss/puppet#1003).

Now using okcomputer mounted at /status.  See also #87

[2016-09-22 20:55] ndushay commented on #76
do any individual checks need separate nagios handling? (stacks, embed, feedback email, flipbook, other?)

[2016-09-22 23:47] ndushay commented on #61
@jvine  do you have an opinion?  Should `Available download formats:` section stay, or should it go?

[2016-09-22 23:47] ndushay commented on #81
Can we have an example druid or two?

[2016-09-22 23:52] jvine commented on #61
🔥

[2016-09-22 23:57] ndushay commented on #87
I'm gonna call this DONE.

[2016-09-22 23:57] #87 closed

[2016-09-23 00:16] ndushay commented on #57
@blalbrit is Rosy's text (esp. email address) still a go?  I could made this change.

[2016-09-23 00:18] ndushay opened #101 "purl_uat: add nagios certs check once UAT purl box gets certs"
puppet PR in progress.  sul-dlss/puppet/pull/1046

[2016-09-23 00:19] blalbrit commented on #57
I don't think sdr-contact is the appropriate e-mail (that is used for Hydrus errors). In fact - I would be inclined to no-op this. What do you think @LynnMcRae  and @hannahfrost ? Should we revisit the PURL error message language at this time?

[2016-09-23 00:29] hannahfrost commented on #57
I would love to see this message changed, thanks for offering to take care of it @ndushay.

sdr-contact@lists is used for all kinds of communication with the SDR team, and it could work here, but now that we have the purl-feedback@lists.stanford.edu channel in place, I'd be inclined to use that in this context.

@LynnMcRae - your thoughts?

[2016-09-23 00:30] blalbrit commented on #57
purl-feedback@lists makes good sense - so:

"This item is in processing or does not exist. If you believe you have reached this page in error, please contact purl-feedback@lists.stanford.edu" ?

[2016-09-23 01:18] ndushay commented on #61
sadly, i don't know if that means "burn the section and remove it" or if it means "burn this issue and leave it."

[2016-09-23 01:58] jkeck commented on #61
I believe that means "Kill With 🔥".

Aka, remove it.

[2016-09-23 16:02] jvine commented on #61
Jessie is correct.

[2016-09-23 19:48] ndushay commented on #57
works for me.  proceeding.

[2016-09-23 19:57] ndushay commented on #57
um @jkeck @jvine  I know we don't want a mail-to link;  is it ok to just have the text showing the email address?   Or does this mean we should have a form?  Or am I way off base in being concerned about email spam here?

[2016-09-23 20:03] jvine commented on #57
Can we just tell them to use the Feedback form immediately above the message? That way, we'll trap for spam, and we'll capture the URL of the page in question.

"This item is in processing or does not exist. If you believe you have reached this page in error, please send Feedback"

and if we're really clever we can even open the form for them.

[2016-09-23 20:07] #61 closed

[2016-09-23 20:56] ndushay commented on #57
branch `57-tweak-404-msg` for WIP.

[2016-09-23 21:32] ndushay commented on #57
@jvine, @blalbrit, @hannahfrost   do you like?  #103

[2016-09-23 21:43] hannahfrost commented on #57
Huge improvement!

[2016-09-23 21:48] #57 closed

[2016-09-26 22:39] ndushay commented on #71
Jessie - I'm assigning this to you since you took the proxy ticket.  :-)

[2016-09-27 22:58] jkeck opened #105 "Remove sitemap generating feature"

[2016-09-28 19:24] #101 closed

[2016-09-28 22:35] ndushay commented on #71
I do believe this is done now, so am closing.  :-)

[2016-09-28 22:35] #71 closed

[2016-10-13 20:21] ndushay opened #106 "update okcomputer initializer after upstream PRs in released okcomputer gem"

[2016-10-27 21:35] LynnMcRae opened #108 "Support iiif manifest for book/image combination"
The standard model for content-type=book is to have resources of type=page. But there was a time when we were migrating away from flipbook as the "book" reader to a more unified image viewer with book behaviors as we have today. To facilitate this, book-like objects have been digitized for awhile as content-type-book with resources of type=image. This worked in embed prior to cutting over to the n

[2016-11-02 14:10] mejackreed opened #109 "Investiage og:image not working for Facebook and Twitter sometimes"
When users are sharing content on Facebook, og:image doesn't always seem to be respected.

<img width="502" alt="screen shot 2016-11-02 at 10 10 16 am" src="https://cloud.githubusercontent.com/assets/1656824/19931916/949655a8-a0e4-11e6-8ac9-c8b597cf2e45.png">

[2017-01-06 17:10] cbeer commented on #108
I'm not sure I understand what change is being requested -- do you have an example of such an object?

[2017-01-06 17:28] cbeer commented on #60
Seems fixed.

[2017-01-06 17:28] #60 closed

[2017-01-06 17:29] cbeer commented on #49
I assume the outstanding tasks have all been done by now?

[2017-01-06 17:31] cbeer commented on #45
IIIF now recommends some URI patterns: http://iiif.io/api/presentation/2.1/#a-summary-of-recommended-uri-patterns

I suggested we move from our current IIIF annotation URI pattern of using sequential numbering for our canvas URIs to a more permanent URI structure using the resource id already present in the contentMetadata.

[2017-01-06 17:34] cbeer commented on #62
I can confirm that PURL only knows about the `/purl/document_cache` directory. Can I then clean those bogus directories up, or at least move them aside if they'd be useful for some future investigation?

[2017-01-06 17:36] cbeer commented on #84
I'm not sure we currently publish enough information to PURL for it to a) identify an image collection, and b) build a collection manifest that lists the members of that collection.

[2017-01-06 17:39] #105 closed

[2017-01-06 17:42] #106 closed

[2017-01-06 18:49] LynnMcRae commented on #108
I had examples; shame on me for not including them.  Thanks to Ben here's a nice set of them:

From collection bx237rw7019 - Semiannual report to Congress
druid:zf119tw4418
druid:yr395qx7016
druid:vh661sw7791
druid:xd628vg3422

from collection ng056wy3948 - Semiannual report to the Congress
druid:xh307bp5065
druid:yy667gn7024

from collection druid:wf189dk1775 - Office of Inspector General semiann

[2017-01-06 19:07] LynnMcRae commented on #108
The change is to include resource types of both "page" and "image" for manifest/embed when content-type is book.  This is not only for the cases here where "image" was used where "page" is intended for historical reasons, but for more possible use cases where an image might be considered in addition to page. For instance, the image of a book's spine and covers could be coded as resource-type image

[2017-01-06 19:12] blalbrit commented on #62
Thumbs-up from me.

[2017-01-06 19:13] LynnMcRae commented on #62
just wondering what was happening on July 28 2015. I have no knowledge of why they are there and agree they can go if they serve purpose to Purl.

[2017-01-06 19:20] #83 closed

[2017-01-06 19:22] cbeer commented on #62
Moved the directories into `/purl/20170106_misplaced_records` and will remove that next week.

[2017-01-06 19:22] #62 closed

[2017-01-06 22:02] drh-stanford commented on #49
yes, closing

[2017-01-06 22:02] #49 closed

[2017-01-12 07:06] #108 closed

[2017-02-02 23:43] blalbrit opened #118 "Add support for IIIF Collections"
See https://jirasul.stanford.edu/jira/browse/DEVQUEUE-134 for high-level overview. Discussion needed - this is just a stub.

[2017-02-28 23:31] peetucket opened #119 "IIIF Manifests for Items: Add all DC fields as name/value pairs"
Remove hardcoded name/value pairs for DC and just add them all.  Also switch publishVersion to the publish date.

[2017-03-22 01:06] #119 closed

[2017-04-07 22:14] jkeck opened #122 "IIIF Manifests @id can be non spec compliant."
According to the [IIIF spec](http://iiif.io/api/presentation/2.1/#id)

[code]

We allow our the IIIF manifest to be returned under the following URLs:
- https://purl.stanford.edu/fw090jw3474/iiif/manifest
- https://purl.stanford.edu/fw090jw3474/iiif/manifest.json

However; the URL returned in the `@id` parameter is always `https://purl.stanford.edu/fw090jw3474/iiif/manifest`.  This is causing some

[2017-04-12 17:15] LynnMcRae commented on #122
I note that we are not actually responding to .json as a suffix but simply ignoring suffixes.  .xml or .popsicle or .anything all respond with the same manifest.  Is it too late to stop recognizing any variation (I am guessing it is).

[2017-04-13 16:46] jkeck commented on #122
Ah, that's very interesting, and potentially puts us in a pickle.

I wonder if we can do some log analysis to see how prevalent the use of `.json`, as well as other random extensions, is for our manifests.  I'm not sure when I got in the habit of doing that, and maybe the use of the `.json` extension is primarily constrained to a few internal uses (although it may be difficult to tell where the re

[2017-05-31 16:09] cbeer commented on #118
Duplicate of #84?

[2017-05-31 16:09] cbeer opened #129 "Implement IIIF v3 maxWidth, maxHeight, maxArea properties"

[2017-05-31 17:02] blalbrit commented on #118
Similar enough to close. PURL-fetcher provides all the information needed to do this, just needs implementation.

[2017-05-31 17:02] #118 closed

[2017-06-01 16:41] cbeer opened #131 "Extract IIIF presentation manifest delivery to a separate controller"

[2017-06-01 16:42] cbeer opened #132 "Create a IIIF Presentation Manifest builder for v3 (speculative) manifests"
http://prezi3.iiif.io/api/presentation/3.0/

Checklist moved to https://github.com/sul-dlss/osullivan/issues/1

----

A/V stuff:

- [x] Add duration to support time (http://prezi3.iiif.io/api/presentation/3.0/#duration)
- [x] Add a new `viewingHint` value of "auto-advance"
- [x] Add new property `timeMode` (http://prezi3.iiif.io/api/presentation/3.0/#timemode)
- [ ] A/V support https://github.com/

[2017-06-01 16:43] cbeer opened #133 "Expose v3 presentation manifests as application routes"
- [x] rails plumbing (see #138)
- [x] actually serve v3 presentation manifests for
  - [x] pdf
  - [x] 3d object

[2017-06-02 14:59] #45 closed

[2017-06-02 15:22] cbeer opened #134 "Add authentication service description for location-based restrictions"
(Presumably based on http://iiif.io/api/auth/1.0/#external-interaction-pattern?)

We've made this change in stacks, but it would be a courtesy to consuming clients to also expose this information in our presentation manifests.

[2017-06-12 19:13] cbeer commented on #134
@blalbrit to provide example image objects.

[2017-06-13 03:58] blalbrit commented on #134
Checking with spec to see if the Buckminster Fuller collection is a candidate for location restriction. No content currently in prod since this was not an available feature to-date.

A list of location-restricted media objects (with images) is available here: https://docs.google.com/spreadsheets/d/1ud5kM_wNLAsRQCdkfqFtzZAwqRHHjE-dwTFh-QNw-sM/edit?usp=sharing

There are also a handful of file objec

[2017-06-15 14:57] cbeer commented on #129
Wrong project.

[2017-06-15 14:57] #129 closed

[2017-06-21 18:20] cbeer opened #137 "Add 3D objects and PDF documents to IIIF presentation 3.0 manifests"

[2017-06-21 20:22] ndushay opened #138 "add plumbing for IIIF v3.0 controller / routes etc."
WIP branch:  iiifv3-plumbing

part of #133

[2017-06-21 21:14] cbeer commented on #131
Fixed by #136

[2017-06-21 21:14] #131 closed

[2017-06-22 17:46] ndushay opened #139 "create fixture v3 iiif manifests for 3d and pdf"

[2017-06-22 17:47] ndushay opened #140 "create fixture v3 iiif manifest(s) for av"

[2017-06-22 17:53] ndushay opened #141 "create fixture v3 iiif manifest for image objects"

[2017-06-23 20:20] blalbrit commented on #140
Based on discussions with @LynnMcRae and @snydman , this is on hold for now. If we have sprint time available, we can create sample manifests to feed back to the AV/IIIF community, but not required for current sprint.

[2017-06-23 20:21] blalbrit commented on #141
Based on discussion with @snydman and @LynnMcRae , this is on hold for now. If there is available sprint time, we can build out sample manifests to feed back to the editors and community.

[2017-06-23 21:46] blalbrit commented on #139
3D fixtures pending examples from DPG

[2017-06-23 22:56] ndushay commented on #139
@blalbrit - yes - it would be great if you added fixtures to `spec/fixtures/iiif_manifests/v3` folder and pushed.

[2017-06-26 16:11] #138 closed

[2017-06-26 16:38] #50 closed

[2017-06-26 16:39] ndushay opened #145 ""publish" v3 iiif manifests for "pdf objects""
- [ ] how do we know when we have a "pdf object"?   Is it a non-image, non-media object with a pdf?   What if there are images and pdf, or media and pdf?  or xxx and pdf?

- [ ] purl app uses iiif3  routes for ^^ object presentation manfests

is this covered in #133 ?

[2017-06-26 16:50] cbeer commented on #145
Maybe a better way to rephrase the task is "include PDFs in the v3 IIIF manifests"? We shouldn't need to care if it is a "PDF object" or not.

PURL doesn't consume the IIIF manifests either -- that's done over in sul-embed.

[2017-06-26 16:53] ndushay opened #147 "implement iiif3 manifests for pdf objects"
related to #132

We have iiif v3 presentation fixture objects for pdfs  from Ben.  (in `spec/fixtures`).

- [ ] We need the purl code to create v3 manifests that include pdfs.

This relies on sul-dlss/osullivan#1 and sul-dlss/osullivan#4.

- [ ] allow `id` and `@id` to work OR allow us to inject the iiif v2 service in osullivan

[2017-06-26 16:54] ndushay commented on #145
okay, maybe I don't understand this well enough, but "implement v3  (UV flavor)  iiif  manifests for everything" seems like a bigger task than focusing on one type of data first.

[2017-06-26 21:03] blalbrit commented on #145
per @LynnMcRae (https://consul.stanford.edu/pages/viewpage.action?title=DOR+content+types%2C+resource+types+and+interpretive+metadata&spaceKey=chimera)

Proposed content types (in progress)
for content-type=document, resource types are:
document – must contain a file that is supported for viewing, starting with PDF (any requirements, limitations?).  Other types may be added in the future.
alternat

[2017-06-26 21:03] blalbrit commented on #145
note ^^ have not been implemented yet, but we can do with the fixture objects if @LynnMcRae says this is stable enough to proceed with.

[2017-06-28 23:44] jmartin-sul commented on #145
duplicates #147

feel free to reopen if that seems incorrect

[2017-06-28 23:44] #145 closed

[2017-06-28 23:44] jmartin-sul commented on #137
duplicates #147

feel free to reopen if that seems incorrect

[2017-06-28 23:44] #137 closed

[2017-06-29 00:09] blalbrit opened #150 "Implement Collection Support (IIIF 2.x version)"
IIIF presentation API 2.1 specifies aggregation of manifests into collections, and collections into collections of collections, etc.: http://iiif.io/api/presentation/2.1/#collection

For our current implementation goals, we would like to support:

- a top level collection object that contains

1. a list of all collections *and*
2. all published (image-based) manifests that are not in a collection

[2017-06-29 00:36] blalbrit commented on #150
Top-level collection mock based on our content, drawn from the above purl-fetcher info:

<{
  "@context": "http://iiif.io/api/presentation/2/context.json",
  "@id": "https://purl.stanford.edu/iiif/collection/top",
  "@type": "sc:Collection",
  "label": "Top Level Collection for Stanford University Libraries",
  "viewingHint": "top",
  "description": "All the stuff we've got available",
  "attribut

[2017-06-29 00:39] blalbrit commented on #150
Okay team - let me know what else is needed here to help make this story ticket actionable for you all.

[2017-06-29 01:23] cbeer commented on #150
I want to be sure we discuss whether building this feature off of purl-fetcher is appropriate and a good idea. I'm particularly worried we'd be building functionality on top of something we already find to be fragile, and we'll introduce a dependency on dynamic services. My understanding is that it was a design goal of PURL and Stacks to generally avoid dependencies on other services.

I also prev

[2017-06-29 03:29] blalbrit commented on #150
@cbeer - I certainly think it is worth having the discussion you describe. I would also like to understand why we think purl-fetcher, which was just built within the last year, is considered to be fragile.

I also agree that we should review the question of exposing PURLs as-is.

This is exactly what I meant when I wrote "A determination will be needed by the team about implementation choices" - b

[2017-06-29 18:13] cbeer opened #151 "Refactor IIIF v2 + v3 manifest creation to improve readability and reduce duplication"

[2017-06-29 18:25] ndushay commented on #133
@cbeer   is this accomplished now?  Would we make separate tickets remaining stuff on here if we want to do it?

[2017-06-29 18:26] ndushay commented on #132
Are we doing A/V support, or is this ticket done now?

[2017-06-29 18:30] cbeer commented on #132
At standup today, I think we established that we should look into A/V support enough to provide feedback to the iiif-discuss list. I tried to tackle some of the easy things (adding properties and legal values) in https://github.com/sul-dlss/osullivan/pull/13.

[2017-06-29 18:54] cbeer opened #152 "Implement IIIF v3 manifests for 3D objects"
We expect the implementation of #149 to be sufficient, so this may be as simple as testing a 3D object out in the browser and writing an integration test to prove the manifest is produced in the format that UV expects.

[2017-06-29 22:01] #133 closed

[2017-06-29 22:01] #147 closed

[2017-06-29 22:36] #122 closed

[2017-06-30 16:00] cbeer opened #154 "Expose AnnotationPage response as its own route"
From the spec:

http://prezi3.iiif.io/api/presentation/3.0/#technical-properties

[2017-06-30 18:55] #152 closed

[2017-06-30 20:05] ndushay opened #157 "error producting iiif3 multi-image manifest:"
https://purl.stanford.edu/bc151bq1744/iiif3/manifest

`SyntaxError: JSON.parse: end of data after property value in object at line 8334 column 9 of the JSON data`

[2017-07-01 00:32] cbeer commented on #157
I'm not seeing a problem using `json_pp` or loading it up in ruby. Where are you seeing that error?

[2017-07-01 00:42] #154 closed

[2017-07-01 01:40] ndushay commented on #157
in my browser.

[2017-07-01 15:37] cbeer commented on #157
What browser? This is working fine for me:

[code]

[2017-07-01 16:51] ndushay commented on #157
working for me too, now.  (it was firefox).  Tommy witnessed the error in our screen hero session -- dunno if anything changed between yesterday afternoon and today.  I think he mentioned working on something or other with Ben ...

[2017-07-05 14:46] #157 closed

[2017-07-05 14:51] cbeer opened #159 "Use `duration` (and any other useful AV properties?) in IIIF v3 manifests"
- [ ] find some fixture objects with `audioData` or `videoData` exposed
- [ ] add `duration` property to media content resources (http://prezi3.iiif.io/api/presentation/3.0/#duration)

[2017-07-05 14:55] cbeer opened #160 "Use different annotation body types for different types of content"
For our first pass, we hard-coded all content annotations with the type `Document`:

https://github.com/sul-dlss/purl/commit/4697852e06a56551c4c343852311c3d65027292a#diff-0f2adfe2ffa275ae69b34f33efa2d958R116

The annotation spec defines 5 other types (and leaves the list open for future extension):

https://www.w3.org/TR/annotation-model/#classes

[2017-07-07 18:05] jmartin-sul commented on #159
we're moving this back to backlog since the following concerns made this seem not particularly useful at the moment:
1. we don't seem to have any objects in stage or prod with `audioData` or `videoData` in the `contentMetadata` data stream, and we're not very confident that we'll be producing objects like that any time soon.
1. if we did have duration in `contentMetadata`, it'd be in the ISO durat

[2017-07-07 18:43] LynnMcRae commented on #159
Just for some history, the ISO 8601 specification for durations was suggested by SMPL and chosen in our model mainly on the strength of it being a standards-based way of expressing elapsed time.  It covers timespans that might be days or months or years.

But IIIF is a standard as well, and at some point this information will no longer be derived from public XML but rather from whatever linked dat

[2017-07-12 17:58] cbeer opened #164 "Δ for sul-embed consuming IIIF v3 for all viewers"
- [ ] file sizes
- [ ] resource labels
- [ ] embargo information
- [ ] memento links
- [ ] use and reproduction / copyright statements
- [ ] bounding boxes
- [ ] contentMetadata type information

[2017-07-12 18:08] mejackreed commented on #164
It would be great if the bounding boxes could be serialized as GeoJSON.

[2017-07-12 18:09] cbeer commented on #159
Here is the current sul-embed implementation of `duration`: https://github.com/sul-dlss/sul-embed/commit/6b2338a9a38db4461928582bc1630254f9d0541d

[2017-07-12 18:58] jcoyne commented on #164
To be clear this is a list of data that sul-embed consumes which is not provided by IIIF v3, right?

[2017-07-12 18:59] cbeer commented on #164
Indeed. And some are probably things we can do better about on our own, but some probably need to turn into IIIF feature requests.

[2017-07-13 21:27] LynnMcRae opened #165 "Presentation manifest for book/manuscript should include viewingDirection"
Content Metadata for type=book can include a <bookData> tag with an attribute to indicate reading direction, to wit (https://purl.stanford.edu/yr183sf1341):

[code]
"ltr" is the default, likely never to be explicitly expressed. "rtl" as shown here should translate to a `<viewingDirection>` value of "right-to-left" in the presentation manifest for books (or manuscripts).

[2017-07-17 19:20] ndushay opened #167 "IIIF v3 requires 'items' (but UniversalViewer of 2017-07-19 can't cope)"
NOTE:  as of 2017-07-19 UniversalViewer only understands `sequences` and `canvases`, not items.  Some discussion is ensuing within Digerati as to whether UV will be updated to also accept `items`

per http://prezi3.iiif.io/api/presentation/3.0
- [ ] manifests have `items`, not `sequences` (per v3 spec)
- [ ] sequences have `items`, not `canvases` (per v3 spec)
- [x] thumbnail must be an array (per

[2017-07-18 15:56] mejackreed opened #168 "Add height and width properties to manifest thumbnail resources"
[code]

should include `height` and `width` properties. Since we're dynamically resizing the image to 400 pixel long-edge (`!400,400`), I guess we'll need to adapt the scaling logic from stacks into purl?

---

When running our manifest through the validator

http://iiif.io/api/presentation/validator/service/validate?version=2.0&url=https://purl.stanford.edu/fw090jw3474/iiif/manifest

[code]

[2017-07-18 16:03] cbeer commented on #168
It must be complaining about the thumbnail resource?

[2017-07-18 16:11] cbeer commented on #167
We should validate that UV supports `items`; it looks like that may be a recent change in the draft spec.

[2017-07-18 16:21] mejackreed commented on #168
It looks that way.

[2017-07-18 17:43] ndushay commented on #167
absolutely agree -- or I would have prepared a PR already

[2017-07-18 19:03] ndushay commented on #168
I would imagine it matters for all thumbnail resources, not just in manifests?

[2017-07-18 23:09] jmartin-sul commented on #167
tested using http://universalviewer.io/examples/, and the following manifests:
https://gist.github.com/jmartin-sul/30624aedb667f91df1dae9fa9181aa50/revisions

UV seems fine with `thumbnail` as an array (or at least that behaves the same as the original unedited manifest).  it does not seem to like when `sequences` and `canvases` get replaced by `items`.  the first revision is the one with all the

[2017-07-18 23:27] ndushay commented on #167
thanks, @jmartin-sul .   @cbeer  Can we get UV to also take "items"?  It's actually clear in the 3.0 docs - the info about Canvas in the av updates doc at https://github.com/IIIF/iiif-av/blob/master/source/api/av/index.md and the Manifest and Sequence section in the 3.0 draft spec  http://prezi3.iiif.io/api/presentation/3.0/#sequence.

[2017-07-19 00:05] jmartin-sul commented on #167
updated the gist to replace only `sequences` with `items`, and then to replace only `canveses` with items, but UV didn't like those either.

[2017-07-19 00:53] cbeer commented on #167
Yeah, again, I'm not surprised. The change to use `items` everywhere seems it was made after we started our work. I think we should check with Ed to see what his plans are for updating UV.

[2017-07-19 06:24] ndushay opened #169 "IIIF v3 canvas requires height+width and/or duration"
per http://prezi3.iiif.io/api/presentation/3.0/#canvas

```A Canvas MUST have a rectangular aspect ratio (described with the height and width properties) and/or a duration to provide an extent in time.```

[2017-07-19 06:43] ndushay opened #170 "IIIF v3 canvas - should have a unique id"
per http://prezi3.iiif.io/api/presentation/3.0/#canvas

[code]

[2017-07-19 13:57] blalbrit commented on #169
@ndushay - I can start, but I think this is a larger conversation:

* file: expectation is download, what is the canvas in this situation? the thing on which a thumbnail could be painted? need input from editorial group on how to handle.
* citation: my thinking would be that, unless there is a thumbnail that could be painted on a canvas, there would be no IIIF representation.
* book: hxw for each

[2017-07-19 14:08] cbeer commented on #170
Do they not? We spent quite a bit of time last year during the spotlight-using-iiif sprint to remediate our resource ids so they'd be unique.

[2017-07-19 16:27] ndushay commented on #169
For file, we're currently serving out something:  https://purl.stanford.edu/bd742gh0511/iiif3/manifest

[2017-07-19 16:29] ndushay commented on #170
they do not, unless I wasn't seeing what was there correctly.  Take a look at https://purl.stanford.edu/bd742gh0511/iiif3/manifest  and let me know if I'm wrong ... that would be an easy fix to this ticket!

[2017-07-19 16:32] ndushay commented on #169
I added a note about this to https://github.com/sul-dlss/osullivan/wiki/Questions-about-IIIF-v3

[2017-07-19 16:39] cbeer commented on #170
Ugh. I guess I didn't know we had resources that intentionally had multiple, published file entries. Maybe they belong on the same canvas? Time to follow up with @blalbrit, I guess.

[2017-07-19 22:09] ndushay opened #171 "IIIF v3 manifest requires thumbnails to be an Array with id and type properties"
from http://prezi3.iiif.io/api/presentation/3.0

```The value must be a JSON array, with each item in the array being a JSON object with at least an id and type property.```

Affirmed that Universal Viewer:
- [x] work with array
- [x] works with id and type properties.

So this:

[code]

needs to become this:

[code]

[2017-07-19 22:57] #171 closed

[2017-07-20 02:52] blalbrit commented on #170
@ndushay and @cbeer - this pattern is pretty widespread across our content. Most books that DPG has scanned have an image and a txt file published for each resource, for instance, and SMPL occasionally published multiple files per resource as well.

In the example Naomi provided, there is a legitimate question as to whether the txt file and the pdf should be in separate resources. Since the delive

[2017-07-20 02:56] blalbrit commented on #170
Since @snydman is the major stakeholder representative here, and the support for PDF, 3D, and IIIF3 feel into the "should have" category for him, not the "must have", I would like for him to weigh in here as far as delivery expectations go.

[2017-07-22 00:05] #134 closed

[2017-07-27 00:53] ndushay commented on #165
So is this supposed to DEFAULT to "left-to-right" explicitly expressed in the code??  @LynnMcRae @tingulfsen ?

[2017-07-27 01:15] LynnMcRae commented on #165
Not sure what the question is asking. The IIIF spec says the manifest MAY have a viewing direction, though it is silent on what default behavior a viewer might exhibit in its absence.  In content metadata we have only expressed readingOrder="rtl" assuming a default of ltr/left-to-right in our local viewers, but I was thinking we would always express viewingDirection in the manifest for book to mak

[2017-07-27 03:15] LynnMcRae commented on #165
yes, it should always express viewingDirection for book. However there are three cases possible in contentMetadata/bookData -- explicit readingOrder=rtl, explicit readingOrder=ltr, and no readingOrder (default left-to-right).

[2017-08-05 00:21] #165 closed

[2017-09-07 16:22] LynnMcRae opened #180 "Location restrictions in v3 manifest only for images"
Part of the UV support work was to extend location restrictions to all content types. It appears however that we only generate location restriction information in the v3 manifest for resources that are themselves images, ignoring media/doc/etc resources also (or exclusively) in the canvas.  The only reference to `iiif_location_auth_service`  is here:
https://github.com/sul-dlss/purl/blob/691de6776

[2017-09-07 17:40] cbeer commented on #180
I don't believe they've tackled iiif auth for non-image resources yet (not to mention that authorization information in manifests is non-authoritative; clients MUST validate it against the `info.json`, which our non-image resources don't have.)

[2017-09-07 17:59] LynnMcRae commented on #180
I think all we're looking for is information about the restriction as reflected in the manifest in order to generate a heads up for the user in Embed, not the auth information in info.json, but I could be wrong about where UV is looking for that information. Will follow up with Digitrati and Stu.

[2017-09-21 00:49] mejackreed opened #181 "Should we modify the logic for how images are returned in a sequence?"
Currently our logic only returns files if they are "deliverable": https://github.com/sul-dlss/purl/blob/master/app/models/iiif_presentation_manifest.rb#L34

That logic being:

Stanford only rights OR World rights.

This logic _seems_ like it is ok, but I would offer it may be problematic in a case where we _can_ offer an image as metadata for 400 x 400.

Examples of these types of objects are plen

[2017-09-21 17:35] mejackreed commented on #181
Proposal:

1. Use rule of thumb, to add thumbnail to the manifest
1. See if that fixes UV blowing up
1. If not, use rule of thumb to add thumbnail image as the first resource in the sequence

[2017-09-21 17:53] aeschylus commented on #181
Assuming we don't want to share these CC resources fully, I'm for option 3.

Another option is to serve the proper manifest but restrict the image requests with the Auth pattern. This would be more consistent across objects.

[2017-09-21 20:27] #181 closed

[2017-09-27 17:24] mejackreed opened #189 "Add "View in EarthWorks" for Geo objects"

[2017-10-04 02:00] jcoyne opened #191 "Swap therubyracer for nodejs"
Pending https://github.com/sul-dlss/puppet/pull/2334

[2017-10-09 16:32] mejackreed opened #192 "Purl feedback can be unresponsive at times when clicking submit"
Originally reported by Amy Hodge.

Cannot reproduce button not submitting, but am seeing no flash messages come through.

[2017-10-24 17:01] mejackreed opened #193 "Add PDF rendering to IIIF manifest for content with a PDF available"
An example: https://wellcomelibrary.org/iiif/b1948799x/manifest

See "rendering" section

Our objects that have a PDF available should also have this section.

Druids:
 - `xt162pg0437 `

[2017-10-24 17:11] LynnMcRae commented on #193
These are resources of type=object, which can be any type of file for download, but typically if not exclusively PDFs to date.

[2017-10-24 17:26] snydman commented on #193
see http://iiif.io/api/presentation/2.1/#rendering

[2017-11-09 20:00] #193 closed

[2017-12-22 21:38] anarchivist opened #199 "Content search service description points to wrong version of spec"
The content search service description introduced in sul-dlss/purl#198 adds the service description to manifests like the following:

[code]

We should be implementing version 1.0 of the Content Search API, and thus have a service description more like the following:

[code]

See [§3.1 of the spec](http://iiif.io/api/search/1.0/#service-description) for more information.

[2017-12-22 23:03] cbeer commented on #199
Blocked, I think, waiting for UV to support v1.0: https://github.com/UniversalViewer/universalviewer/blob/bd615a7c8316e003aab1ded09c4414906548e006/src/lib/manifesto.js#L466.

[2017-12-22 23:20] anarchivist commented on #199
I just diffed the 0.9.3 and 1.0 specs, and the changes seem to be editorial - no changes in syntax or semantics, so this is not super pressing anyhow.

[2018-01-19 20:10] snydman opened #201 "Orientation/rotation change in IIIF manifest for initial load in viewer"
For the Player Piano roll project MASTER files will be produced and archived in SDR with an image orientation that corresponds to the way notation should be read.  However, when they are rendered in a viewer, the image will need to rendered - conditionally - with a different orientation better suited to human reading.

I believe this can be done by declaring a rotation/mirroring value the IIIF Man

[2018-01-19 20:44] LynnMcRae commented on #201
The current <imageData> tag at the resource level of <contentMetadata> currently carries just dimensions, but rotation was suggested in its original design (https://consul.stanford.edu/display/chimera/DOR+content+types%2C+resource+types+and+interpretive+metadata).  I think that's the place to put it for action at the resource/file level, and we should just take the IIIF spec for rotation for an at

[2018-01-22 22:40] #189 closed

[2018-01-30 20:03] jkeck opened #208 "Don't return `null` as the search service"
This appears to be causing some issues w/ UV and Mirador (although there may be something done upstream to be more flexible in this case).

We can solve some of these problems sooner rather than later if we either don't have the service block (or possibly return an empty array instead of `[null]`, we would need to validate).

https://github.com/sul-dlss/exhibits/issues/1067#issuecomment-361422517

[2018-01-30 21:44] #208 closed

[2018-04-30 20:50] arcadiafalcone opened #223 ""Appears in" statement no longer displays for children of virtual objects"
Previously, an "appears in" statement appeared on purl pages for children of virtual objects, linking the children to their parent:

Screenshot of https://purl.stanford.edu/hp623ch4433 from 8/28/2016:
![image](https://user-images.githubusercontent.com/7491842/39448928-83977ee6-4c7b-11e8-9e76-8d08b5e18815.png)

(Ignore the duplicate info  - that's a data issue that's being handled elsewhere.)

The

[2018-05-31 18:40] mejackreed opened #233 "Use content negotiation "accept headers" to provide v2 or v3 manifests"
https://iiif.slack.com/archives/C0AL6BU76/p1527793570000579

![screen shot 2018-05-31 at 1 12 51 pm](https://user-images.githubusercontent.com/1656824/40802960-63aa7892-64d4-11e8-8668-68631f1cd63a.png)

[2018-05-31 20:39] cbeer commented on #233
What's a `v3` accept header look like?

[2018-11-30 19:27] snydman opened #269 "Create IIIF manifests to support 3D data"
Per @blalbrit , the IIIF manifests supporting 3D objects should have the following characteristics.
- resource with type=3d should get IIIF type "PhysicalObject" not "Document"
- currently, UV doesn't seem to handle any other files as downloadable... could be a type or config error for the manifest, this doesn't seem to be specified anywhere
- this means that the only thing that currently works in

[2018-12-04 16:25] mejackreed commented on #233
The Accept header looks like:

`Content-Type: application/ld+json;profile="http://iiif.io/api/presentation/3/context.json"`

https://preview.iiif.io/api/image-prezi-rc2/api/presentation/3.0/#63-responses

[2018-12-04 16:31] mejackreed commented on #233
I think until UV supports content negotiation we still need to provide the v3 url and default to v2. But eventually this seems it will shake out.

In other news, Diva 6 supports this.

[2018-12-05 07:30] mejackreed commented on #233
Also, we will need to update our cache keys to include the accept header. Also do we need to update Vary as to handle browser caching?

[2018-12-06 09:33] mejackreed commented on #233
Likely we also need to verify that we support `OPTIONS` for both purl here and stacks requests.

[2018-12-07 16:15] #191 closed

[2018-12-11 21:35] blalbrit commented on #269
@aeschylus - does it work for any format other than threejs? @snydman 's lab is not using that format in production. That was a specially-baked example for testing purposes.

[2018-12-11 22:54] aeschylus commented on #269
It was thrown in here for reference. I am/the access team is still doing analysis. We need to look into updates to UV and vertex to see if any of them support OBJ. There are good paths to supporting whatever file formats are needed using a threeJS viewer (UV or otherwise), but we're still trying to get a handle on the shortest path toward that.

https://gltf-viewer.donmccurdy.com/
https://threejs.

[2018-12-12 00:37] aeschylus commented on #269
@blalbrit Can you say more about “IIIF Type physicalObject”. Is this is the Specs somewhere? I can't seem to find it in Presentation 3.0. Is it in an annex?

[2018-12-12 00:43] blalbrit commented on #269
@aeschylus - it's absolutely not in the specs. This is coming from whatever Ed specified. See his examples at https://github.com/edsilv/iiif-3d-manifests

[2018-12-12 00:44] blalbrit commented on #269
Since IIIF does not have 3D support, this is whatever Ed cooked up for UV.

[2018-12-14 17:42] #233 closed

[2019-01-10 15:28] cbeer opened #281 "Create IIIF manifests for 3D data that includes all resources"
In #280, in order to get 3D objects to display in UV at all, all additional resources on a 3D object were removed from the IIIF manifest.

The desired behavior is to have 3d resource render, and provide download access to the other files

[2019-01-10 15:28] #269 closed, assigned to nobody

[2019-01-22 18:23] caaster commented on #223
Hi @snydman - I'm very interested in having this ticket addressed during the next appropriate work cycle, whether that's a maintenance work cycle or something else. What's the best way for me to champion this ticket?

[2019-02-07 18:20] arcadiafalcone opened #286 "Styling to support display of relatedItem type="constituent""
Work done on the mods_display gem to improve display of constituent related items has resulted in those items not being displayed at all on purl pages.

https://purl.stanford.edu/hp566jq8781:

![image](https://user-images.githubusercontent.com/7491842/52433313-a661e900-2ac1-11e9-93b4-7718a7ba7d00.png)

https://searchworks-preview.stanford.edu/view/hp566jq8781:

![image](https://user-images.githubu

[2019-02-16 01:09] hannahfrost opened #288 "update Stanford Libraries logo in the header and footer"
The current logos can be found on this consul site: https://consul.stanford.edu/display/Logos/Home

[2019-03-05 19:57] hannahfrost opened #292 "characters in a URL included in a metadata value cause active linking error"
This object's metadata includes a DOI URL: https://purl.stanford.edu/qc071qw4486

There is a close parens in the DOI which is interfering with the active link as displayed on the PURL page.

The DOI in the metadata value is:
https://doi.org/10.1016/S0016-5085(18)34056-3

The active link only shows for:
https://doi.org/10.1016/S0016-5085(18

[2019-03-05 22:52] julianmorley opened #293 "Can Purl support URL redirects?"
See https://jirasul.stanford.edu/jira/browse/SAR-3557
"Please redirect this URL:
https://purl.stanford.edu/qb590gz1324

to point to this URL:
https://purl.stanford.edu/cw402ct1499"

We fixed this with an Apache-level redirect, but this seems like something that might be better handled in the app. Is this currently possible?

[2019-05-20 22:09] cbeer opened #314 "[PURL/prod] IIIF::V3::Presentation::IllegalValueError: The default Sequence (the first entry of (items or sequences)) must be written out in full within the Manifest file"
## Backtrace

    line 11 of [PROJECT_ROOT]/app/controllers/iiif_v3_controller.rb: block in manifest
    line 10 of [PROJECT_ROOT]/app/controllers/iiif_v3_controller.rb: manifest

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/49629/faults/36795388)

[2019-05-20 22:57] mejackreed opened #315 "Update to use webpacker"
Things needing to look at:

 - [x] JavaScript

We are going to hold off on updating styles for now.. there are more difficult things that happen

[2019-05-20 23:04] cbeer opened #317 "Update cancancan"

[2019-05-21 21:25] #288 closed

[2019-05-22 15:20] #317 closed

[2019-05-23 00:57] oceanofsound opened #321 "Need to distinguish between 3.x and 4.x version of by-nc-nd"
https://purl.stanford.edu/zs505gn5652

The rightsMD for this object calls out the 4.0 CC license, but the PURL returns the 3.0 CC license.

Ben A. says: "Note that by-nc-nd is coded, I think, for the 3.0 license. There needs to be some way to distinguish between 3.x and 4.x versions of by-nc-nd."

See also: https://github.com/sul-dlss/argo/issues/1394

[2019-07-11 22:25] caaster commented on #223
Hi @matienzo -- inquiries have been surfacing again about this ticket, specifically when it might be addressed. I'm tagging you as I imagine it is a first heard for you!

[2019-08-20 17:39] blalbrit opened #346 "Support pointing to a Globus endpoint for certain kinds of very large content that can't be delivered via stacks"
This is a story for an emerging use-case - logging here though there are elbow effects up and down the stack.

Use-case:
* data (or other) deposit into SDR that needs to be delivered publicly, but is too large for stacks to support (ie. 10TB dataset, for instance)
* proposition is to deliver this content via Globus
* desire is to include a link to the Globus endpoint, rather than delivering conten

[2019-09-10 15:29] #223 closed

[2019-11-04 16:54] andrewjbtw commented on #321
Another example of this issue: https://purl.stanford.edu/xf457dx9166

The metadata has been updated to use the 4.0 license and that's what shows in the XML at https://purl.stanford.edu/xf457dx9166.xml but the PURL page is displaying and linking to the 3.0 license.

[2019-11-04 17:00] cbeer commented on #321
PURL only looks at the value of the `//use/machine` element (by spec, I believe). If we want to support different values, we'll need a new spec (presumably using the `uri` values?)

[2019-11-04 21:39] hannahfrost commented on #321
I believe you are right, @cbeer . If the machine element is omitted, PURL will display whatever is shown in the human element.

[2019-11-06 16:13] mejackreed opened #360 "Validate our IIIF v3 manifests"
Our IIIF v3 manifests are not valid. Most of this is caused by Strings that need to be Objects or Arrays.

https://iiif.io/api/presentation/validator/service

[2019-11-06 16:16] cbeer commented on #360
Is the IIIF v3 spec finalized now? I think we gave up trying to hit the moving target.

[2019-11-06 16:31] mejackreed commented on #360
Not yet officially. But in practice (for our validation issues) yes. Most of the issues are basically this String should be an Array/Object now which is a core concept well established for v3.

[2020-02-19 22:21] mejackreed opened #375 "Consider linking to jp2s in our IIIF manifests to allow users to download full size images"
Originally discussed here: https://github.com/sul-dlss/sul-embed/issues/739#issuecomment-588401307

[2020-03-09 19:09] mejackreed commented on #315
Resolved in #316

[2020-03-11 22:03] #375 closed

[2020-04-10 13:43] mejackreed commented on #167
UV does now support `items` only. Also we aren't using UV anymore. Closing this issue.

[2020-04-10 13:43] #167 closed

[2020-04-10 20:08] #360 closed

[2020-04-15 15:44] #132 closed

[2020-04-16 12:59] #314 closed

[2020-04-16 13:53] #199 closed

[2020-04-16 13:53] #168 closed

[2020-04-17 15:20] #76 closed

[2020-04-17 15:22] #82 closed

[2020-04-17 15:22] #77 closed

[2020-06-03 16:30] mejackreed opened #405 "Provide links to transcriptions in IIIF manifests"
By providing our transcriptions in the IIIF manifests, we could enable use in Johannes' Mirador 3 plugin.

[2020-06-03 16:39] mejackreed commented on #405
From Johannes:

I would see us providing ALTO/hOCR via canvas seeAlso

[2020-06-04 01:11] hannahfrost opened #407 "misaligned display of "preferred citation" and "collection" label and associated values near the top of a PURL page"
The attached screenshot shows the misalignment of metadata displayed below the item title and above viewer. Here is a sample item: https://purl.stanford.edu/nw037gk9818

[2020-06-04 16:03] mejackreed commented on #407
@hannahfrost the issue has been resolved in code we have not redeployed purl yet. Our weekly deploys go out on Monday mornings. Would it be useful to get this out today?

[2020-06-04 16:07] hannahfrost commented on #407
Sure, Monday is fine. Thanks @mejackreed

[2020-06-04 16:07] #407 closed

[2020-06-09 17:30] #405 closed

[2020-07-21 23:05] ggeisler opened #421 "Update layout of Feedback form"
As part of the effort to standardize our feedback forms, below are recommendations for updating the Purl feedback form. Note that the basic layout updates have been made to Earthworks (sul-dlss/earthworks#691).

Here's the current feedback form:

<img width="1100" alt="Screen Shot 2020-07-21 at 3 53 30 PM" src="https://user-images.githubusercontent.com/101482/88115330-c6c51c80-cb6a-11ea-9228-81e21

[2020-08-07 22:20] anarchivist opened #426 "Remove bc421tk1152 from list of featured purls"
Requested because of lack of context on purl.stanford.edu landing page.

[2020-08-07 22:21] cbeer commented on #426
Fixed by a2d4a4cea057d05eb8a77d95f929c3b995674965

[2020-08-07 22:21] #426 closed

[2020-12-12 00:23] camillevilla opened #452 "Support AnnotationLists"
Access team is working with @andrewjbtw on a small experiment with From the Page annotations. Let's plan to work on this when we return from break.

script in progress:
https://gist.github.com/camillevilla/4d19805f564092ffc64a7653893d47d5

[2020-12-17 20:59] jcoyne opened #454 "Google prevented from harvesting PURL pages"
If you search for a purl in google, it'll return a purl page, but with no description:

<img width="435" alt="Screen Shot 2020-12-17 at 2 55 02 PM" src="https://user-images.githubusercontent.com/92044/102542789-ef990180-4077-11eb-9cfc-5965bcb2c2c3.png">

I think this is because robots.txt has:

[code]

Is there a reason we have that robots.txt directive?

[2021-01-08 14:38] mejackreed commented on #452
I've forked the version of Camille and fixed up to work with the updates in #460.

https://gist.github.com/mejackreed/7546c2947d94ffce5fa3d1c38fbde6d7

@andrewjbtw can you take a look to see if this works for you?

[code]

[2021-01-12 21:51] andrewjbtw commented on #452
@mejackreed this worked for me on my local machine. I got 150 JSON files - I assume that's the correct count? Some images don't have manifests but I'm guessing those are ones that weren't transcribed (blank covers, etc.).

[2021-01-12 22:05] mejackreed commented on #452
@andrewjbtw that's great! The From The Page people also suggest ingesting the transcription in a text file which we could do. I'm not sure if this is something we would like to scope in/out of this project but I could make an update to the script to do that if we wanted to.

[2021-01-12 22:56] andrewjbtw commented on #452
Would that be a single text file per page or for the whole document? I think transcriptions are still in scope, especially if someone would like to download the text.

[2021-01-12 23:41] mejackreed commented on #452
It would be a single text file per page. Something like this: https://fromthepage.com/iiif/37594/export/1264411/plaintext/searchable

[2021-01-13 17:33] andrewjbtw commented on #452
Let's download that too. From the accessioning side, the impact of adding those text files will be minimal.

[2021-02-08 23:09] mejackreed commented on #454
Yes a long standing policy decision SDR to do this. Defer to mgmt team about making changes to this policy decision.

[2021-02-08 23:47] mejackreed commented on #452
@andrewjbtw sorry for the long delay. I've updated the script (https://gist.github.com/mejackreed/7546c2947d94ffce5fa3d1c38fbde6d7) to support downloading of a text file.

[2021-02-09 02:54] jcoyne commented on #454
@hannahfrost @amyehodge Can you shed some light on this policy?

[2021-02-09 03:55] hannahfrost commented on #454
It was Lynn's (and Stu's?) vision that SDR PURLs should not be indexed directly via search engines, only via SearchWorks for SUL context or via some other publisher where the PURL was deliberately provided by the author/owner for discovery.

It is possible to imagine use cases where a depositor would want to publish their PURL with full control how/when/where it is picked up, leaving SearchWorks o

[2021-02-09 19:11] andrewjbtw commented on #452
Thanks! I'm working on putting examples in argo-stage.

[2021-02-10 19:19] andrewjbtw commented on #452
@mejackreed I have an object on stage with both the file roles set for "annotations" on the JSON files and "transcription" on the text files: https://sul-purl-stage.stanford.edu/bg310zs1069 I am seeing an error with content search but the Purl XML looks correct.

Let me know if that looks correct and I can populate more objects. I loaded the whole Steinbeck set into stage because it's not very lar

[2021-02-12 18:26] mejackreed commented on #452
@andrewjbtw thanks so much for doing that. One question about the mimetype there. I would have expected it to be `application/json` can that happen?

[2021-02-12 18:45] andrewjbtw commented on #452
I can change that manually after-the-fact but it's coming from an accessioning step and we need to make the change there. I filed an issue for it: https://github.com/sul-dlss/assembly-objectfile/issues/50

[2021-02-12 22:27] andrewjbtw commented on #452
@mejackreed I've updated that purl with `application/json` now.

[2021-02-22 19:25] mejackreed commented on #452
@andrewjbtw thanks for that! Things seem to be looking correct with the implementation here: https://sul-purl-stage.stanford.edu/bg310zs1069

This requires #460 to be 🚢 (which it is deployed right now in stage). They aren't shi

[2021-02-24 20:32] andrewjbtw commented on #452
I've now enabled this on 30 items in stage so there's more variety for review. Since we don't have a way to group purls on the purl pages, I've put them under an Argo tag of "Project annotations"
https://argo-stage.stanford.edu/catalog?f%5Btag_ssim%5D%5B%5D=Project+%3A+annotations

I can also export a list of all stage purls.

[2021-02-26 22:50] anarchivist opened #472 "IIIF manifests should have URIs for license (v2)/rights (v3) properties"
Requested by Ben A.: We're not properly displaying license and attribution information in our IIIF manifests. We should be adding a [`license`](https://iiif.io/api/presentation/2.1/#license) property for v2 and [`rights`](https://iiif.io/api/presentation/3.0/#rights) property for v3 that points to the URI for the associated license when applicable.

For example: <https://purl.stanford.edu/ft452rc5

[2021-02-26 22:55] anarchivist opened #473 "IIIF manifests: revisit how attribution (v2) and requiredStatement (v3) are populated"
Requested by Ben A.:

My understanding of current state:

We could, perhaps, populate `attribution`/`requiredStatement` with additional information from `copyright`/`useAndReproduction` data in the publicXML, but specific requirements are not yet clear; this is subsequently blocked until we can iron that out.

See also #472.

[2021-04-12 18:17] #452 closed

[2021-04-13 18:56] #27 closed

[2021-05-04 22:38] hannahfrost opened #487 "form submission sends two duplicate messages"
Recently (in the last week or so), we notice that a submission to the purl feedback form results in two, duplicate messages are received by members of the purl-feedback list. As far as I am aware, nothing has changed on the list management side that would result in duplicate messages.

is it a bug in the form?

[2021-05-17 19:56] arcadiafalcone commented on #286
Constituent related items are now being displayed, but lack of formatting/indentation makes long lists like one in the sample record above very difficult to read.

[2021-06-03 23:56] mjgiarlo commented on #487
@hannahfrost I have not been able to reproduce this either locally or in stage, and I have a sneaking suspicion that this is due to what I just wrote up in #496. Plausible?

[2021-06-04 00:13] hannahfrost commented on #487
@mjgiarlo Maybe? Not sure. Literally every message sent via this form, regardless of user, since I reported the bug has resulted in double messages. I just tested it in prod and got two messages again after a single click of the submit button.

[2021-06-04 00:19] mjgiarlo commented on #487
@hannahfrost ok! thanks, I'll have another look.

[2021-06-04 15:40] hannahfrost commented on #487
@mjgiarlo Not sure if this is related, but Josh Schneider submitted feedback via Spotlight yesterday and I received duplicate messages.

[2021-06-04 15:49] mjgiarlo commented on #487
Oh, huh. Thanks for sharing that! Do you think you could forward me a couple dupes so I can inspect the headers?

[2021-06-04 16:17] hannahfrost commented on #487
@mjgiarlo Sent you two examples from the two forms (purl and exhibits)

[2021-06-04 19:23] anarchivist commented on #487
Looks like the duplicate messages have distinct `Message-ID` headers, e.g. for Hannah's "testing testing disregard" feedback"

* `Message-ID: <60b96fe1edcc6_28aa65e0100036@sul-purl-prod-b.stanford.edu.mail>`
* `Message-ID: <60b96fe1ec998_5ccc65e0676b4@sul-purl-prod-a.stanford.edu.mail>`

[2021-06-04 19:53] mjgiarlo commented on #487
@hannahfrost @anarchivist Thanks, you two. I'll take another look on Monday AM.

[2021-06-07 17:11] mjgiarlo commented on #487
@hannahfrost do you know if the double posts are happening in stage as well? Or just prod? Given what @anarchivist posted above, my hunch is they are only happening in prod.

[2021-06-07 17:16] hannahfrost commented on #487
@mjgiarlo I do not know what is happening in stage, haven’t tried.

—
Hannah Frost | Assistant Director for Digital Services
Stanford Libraries<https://library.stanford.edu/> | Digital Library Systems and Services
Lathrop Library 384
E: ***@***.******@***.***> | C: (650) 799-1352
Pronouns: she/her

On Jun 7, 2021, at 10:12 AM, Michael J. Giarlo ***@***.******@***.***>> wrote:

@hannahfrost<https:/

[2021-06-07 17:19] andrewjbtw commented on #487
I don't think emails are coming through to the list at all from stage. I've used the feedback form there and nothing has appeared on the list.

[2021-06-07 17:34] mjgiarlo commented on #487
@andrewjbtw @hannahfrost It looks like purl-stage is configured to send feedback form messages to `purl@jirasul.stanford.edu`. No idea if that's what it should be doing, though, or if that's even wired up correctly.

[2021-06-08 15:13] mjgiarlo commented on #487
@hannahfrost a potential fix has been deployed to all envs. Would you mind tossing a test message at purl prod and letting us know what comes through?

[2021-06-08 15:41] hannahfrost commented on #487
@mjgiarlo Looks like it is fixed for purl-feedback and exhibits-feedback. Just one message came through with each form submission. Thanks very much for that!

As far as purl-stage goes, purl@jirasul is not a thing, so would be best to align it with how it is set up on prod, but this is also not particularly pressing.

[2021-06-08 15:41] #487 closed

[2021-06-08 16:35] mjgiarlo commented on #487
@hannahfrost Sure! Should purl-stage messages be routed to the same list? If so, I guess you'll be able to tell whether a message is from prod or stage judging by the URL in the message. Is that OK?

This is like a five-minute thing, so NBD either way.

[2021-06-09 23:28] #421 closed

[2021-08-02 14:51] cbeer opened #508 "[PURL/prod] NoMethodError: undefined method `files' for nil:NilClass"
## Backtrace

    line 222 of [PROJECT_ROOT]/app/models/iiif_presentation_manifest.rb: canvas_for_resource
    line 157 of [PROJECT_ROOT]/app/models/iiif_presentation_manifest.rb: block in body
    line 156 of [PROJECT_ROOT]/app/models/iiif_presentation_manifest.rb: each

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/49629/faults/78918823)

[2021-08-06 21:46] #508 closed, assigned to nobody

[2021-11-06 01:21] anarchivist opened #528 "Cocina fileSets are producing IIIF manifests with broken canvas and annotation URIs"
Our code to produce canvas and annotation URIs is causing issues with the new way that resources as Cocina fileSets are exposed in the public XML.

We need a strategy to mitigate this, and to determine what the canvas URIs are given this change. Note that, when valid, canvas and annotation URIs on PURL are expected to be resolvable. In their current state, the URIs based on the full URI to the Coc

[2021-11-08 14:03] cbeer commented on #528
Can we get infra to republish those records with resource ids that conform to the previous constraints (just the UUID, I guess)?

[2021-11-08 16:21] andrewjbtw commented on #528
I believe the Cocina model is set up to autogenerate those resource ids, so the model itself will likely need to be changed. I don't know why the resource ids are URIs and not simpler strings. It may have been intended to go with a larger architectural change that hasn't happened.

What are the constraints for resource ids? Is it just the `http://` prefix that should be disallowed or should there

[2021-11-08 16:32] cbeer commented on #528
I think you'd be safe with no slashes and url-safe characters.

[2021-11-08 17:08] jcoyne commented on #528
@anarchivist can you give an example of an existing IIIF that we have in our IIIF server that *IS* valid and what the resolvable canvas id is?

[2021-11-08 17:12] anarchivist commented on #528
- Object: https://purl.stanford.edu/vq627fg9932/
- Manifest: https://purl.stanford.edu/vq627fg9932/iiif/manifest
- Canvas: https://purl.stanford.edu/vq627fg9932/iiif/canvas/vq627fg9932_1
- Annotation: https://purl.stanford.edu/vq627fg9932/iiif/annotation/vq627fg9932_1

[2021-11-08 18:00] jcoyne commented on #528
One possibility is to fix by updating:
https://github.com/sul-dlss/purl/blob/master/config/routes.rb#L47 to set a regex (e.g. `%r{.+}`) to accept all characters as the resource_id.

This wouldn't make the XML valid, but I believe it may be the most expedient fix for the patrons.

[2021-11-08 19:06] cbeer commented on #528
I don't think https://github.com/sul-dlss/dor-services-app/pull/3068 is too onerous, and buys us time to address this and other issues once we start consuming the cocina json 🤷‍♂️

[2021-11-08 20:13] jcoyne commented on #528
@cbeer the only drawback is that we then need to identify and republish all the corrupt items.

[2021-11-08 22:21] #528 closed

[2022-03-02 00:35] thatbudakguy opened #559 "url-encoded slash in manifest links breaks IIIF spec"
this issue is via @mapninja and related to supporting manifest import in the new [allmaps viewer](https://viewer.allmaps.org/).

our presentation v2 manifests currently url-encodes a slash (`%2F`) in between the DRUID and filename of stacks URLs:
https://github.com/sul-dlss/purl/blob/835363d0dfc3cf05ba5ec26560ec4eb3903b72c4/app/models/iiif_presentation_manifest.rb#L360

...resulting in URLs like:

[2022-03-02 20:05] thatbudakguy commented on #559
_Originally posted by @anarchivist in https://github.com/sul-dlss/purl/issues/560#issuecomment-1057325029_

[2022-03-14 18:16] anarchivist opened #563 "Update Google Site Verification code"
See sul-dlss/exhibits#2172 for context.

* [ ] Update `Settings.GOOGLE_SITE_VERIFICATION` value to be `eD_pZjh-aWkTGA3_iYHmMdGV2cNugc7FTwtgNv2EnZE` for prod
* [ ] Redeploy

[2022-03-22 17:26] #563 closed

[2022-04-18 21:07] hannahfrost opened #569 "Display Stanford red "S" on for any link displayed on PURL that are restricted to users via the Stanford proxy service"
Here is an instance where a link in a resource's record ("Cambridge Core" under Locations) points to an external resource available to Stanford users through our proxy service: https://purl.stanford.edu/yk677wc8843

All such links have the prefix "https://stanford.idm.oclc.org/login?url="

With the red S next to the link, the user would easily see that accessing the link requires Stanford authenti

[2022-05-26 00:24] blalbrit opened #575 "IIIF info.json identifier encoding issue - %2F rewritten as %252F for image service @id"
[Not sure if this is the right repo for this ticket - please feel free to move, might be more appropriate in stacks?]

![Screen Shot 2022-05-25 at 5 25 48 PM](https://user-images.githubusercontent.com/796990/170390667-d0acc94c-13f6-45e9-9506-9560cbb90c81.png)

In an example like the one above (from https://purl.stanford.edu/xw767xx9767/iiif/manifest), the image service @id in the presentation API

[2022-05-26 19:07] anarchivist commented on #575
Thanks for writing this up, @blalbrit. I believe this is same issue, or is related to sul-dlss/stacks#864.

[2022-05-27 17:47] thatbudakguy commented on #575
Agree this is is a duplicate of https://github.com/sul-dlss/stacks/issues/864, but this context & detailed explanation is extremely useful. Going to quote some of @blalbrit's explanation on that issue for added context.

[2022-06-06 18:39] anarchivist opened #578 "Collection purls should either provide a valid OEmbed response or not provide one at all"
https://app.honeybadger.io/projects/49092/faults/73450749

I'm not sure what should be displayed, but this error gets reported with some regularity in Honeybadger for exhibits: sul-dlss/exhibits#2130

[2022-06-17 20:46] cbeer opened #584 "[PURL/prod] ActionController::Redirecting::UnsafeRedirectError: Unsafe redirect to "https://stacks.stanford.edu/image/iiif/ck629hn7231%2Fck629hn7231_1_img_1/full/!400,400/0/default.jpg", pass allow_other_host: true to redirect anyway."
## Backtrace

    line 42 of [PROJECT_ROOT]/app/controllers/purl_controller.rb: block (2 levels) in show
    line 17 of [PROJECT_ROOT]/app/controllers/purl_controller.rb: show

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/49629/faults/86198139)

[2022-06-20 15:29] #584 closed

[2022-07-11 17:21] anarchivist opened #597 "Ampersands in some titles displaying as "&amp;""
The ampersand in [this object](https://purl.stanford.edu/hk567md5330) is displaying as `&amp;`; as is in [this other object](https://purl.stanford.edu/bh617pm1804).

<img width="1092" alt="Screen Shot 2022-07-11 at 10 21 52 AM" src="https://user-images.githubusercontent.com/73732/178321807-70557af6-080a-4f50-9ce2-fcaceeb731b5.png">

From the publicXML:

[code]

Reported as [PURL-1138](https://jira

[2022-07-11 20:26] thatbudakguy opened #598 "IIIF manifest profile value should be an array"
our manifests specify the service's supported `profile` as a string, but [the spec seems to say](https://iiif.io/api/image/2.1/#technical-properties) that it should instead be an array:

this might be as simple as wrapping an array around https://github.com/sul-dlss/purl/blob/e5f0d66b055d6d905f646ee7f164b514d3852c71/app/models/iiif_presentation_manifest.rb#L286

or even just changing that settings

[2022-07-11 20:43] marlo-longley commented on #597
@anarchivist Hi Mark, I started looking into this and found a solution that involves sanitizing the title output. But, I'm going to dig deeper to understand if any of the [changes we made for Martin Wong](https://github.com/sul-dlss/mods_display/commit/e8c6bb160e5e26fd1fd5a562a57c69387c33d052#diff-72253ea8380aae9e87c6c299c8183676b9a7241e3b6598036544c4de85407559R57) are causing this and if a deeper

[2022-07-14 14:36] #597 closed

[2022-07-26 00:40] hannahfrost commented on #192
I do not believe this is an issue currently.

[2022-07-26 00:40] #192 closed

[2022-07-26 00:52] hannahfrost opened #602 "updates to content at https://purl.stanford.edu"
1. From the list of Featured Items, remove: "Mille Miglia" and "Mistresses, Maids, and Maternalism..." (content has been removed)
2.  Link for "Digital Collections in SearchWorks" (upper right) should be: https://searchworks.stanford.edu/catalog?f%5Bcollection_type%5D%5B%5D=Digital+Collection

[2022-07-29 13:43] #602 closed

[2022-08-29 15:15] cbeer commented on #575
Fixed by https://github.com/sul-dlss/purl/pull/560?

[2022-08-29 15:15] #575 closed

[2022-11-18 21:00] corylown opened #624 "Migrate Universal Analytics (UA) to Google Analytics 4 (GA4)"
Universal Analytics (UA) properties will [stop collecting data as of July 1, 2023](https://support.google.com/analytics/answer/11583528?hl=en). The data in the existing UA property will remain available for an unspecified period of time. In order to collect data after July 1, 2023 we will need to create a new GA4 property and add the newer `gtag.js` snippet to the application in order to collect d